version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.1
      
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "~/repo/client/package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - ~/repo/client/node_modules
          key: v1-dependencies-{{ checksum "~/repo/client/package.json" }}
        
  test:
    docker: 
      - image: circleci/node:10.16.1

    working_directory: ~/repo

    steps:
      - checkout

      # run tests!
      - run: cd client; yarn install && yarn test

  deploy:
    docker:
      - image: buildpack-deps:trusty

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Deploy develop to Heroku
          command: |
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git develop:master

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: /^(feature|hotfix)\/.*?$/
      - test:
          requires: 
            - build
          filters:
            branches:
              only: /^(feature|hotfix)\/.*?$/
      - deploy:
          requires: 
            - build
          filters:
            branches:
              only: develop
