.summary-line-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 14px;
}

.summary-line-header {
  margin-right: 42px;
}

.summary-line-container .summary-line-text {
  flex-grow: 1;
}

.summary-line-column-container {
  display: flex;
}

.summary-line-container.summary-line-header
.summary-line-column {
  margin-right: 42px;
}

.summary-line-container.summary-line-header
.summary-line-column:last-child {
  margin-right: 0;
}

